BOT_CONTAINER_NAME=bot_container_book_quotes
BOT_IMAGE_NAME=bot_image_book_quotes
BOT_NAME=book_quotes
BOT_TOKEN=
ADMINS=
USE_REDIS=True

DB_USER=
PG_PASSWORD=
DB_PASS=
DB_NAME=tg_bot_book_quotes
DB_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_PREFIX=bq_bot

MEDIA_DIR=
